<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Willkommen bei Project.ly!</h1>
    <p>
      Hey <%= @employee.name %>! Du hast dich erfolgreich bei Project.ly registriert!
    <br>
    </p>
    <p>Vielen Dank und hab einen angenehmen Tag!</p>
  </body>
</html>